@keyframes fade {
  0% {opacity: .65;}
  100% {opacity: .45;}
}

@-webkit-keyframes fade {
  0% {opacity: .65;}
  100% {opacity: .45;}
}   

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
}


.nyan{
    display: inline-block;
    background-image: url(/gfx/nyan.gif);
    background-size: cover;
    height: 140px;
    width: 200px;
    position: relative;
    opacity: .8;
    margin-left: 20px;
}

h1>span{
    position: relative;
    top: -63px;
}

/*.map{
  mix-blend-mode: multiply;
}*/

.section-name{
  margin-bottom: 70px;
}

#location{ margin-top: 50px;}